html,body{
    margin: 0px;
    padding: 0px;
}

.m-title{
    font-size: 15px;
    color: black;
    text-align: center;
}
.m-content{
    font-size: 18px;
    color: red;
    width:500px;
    text-align: center;
    position: relative;
    margin: 20px auto;
    animation:myfirst 5s linear 2s infinite alternate;
}

@keyframes myfirst
{
	0%   {background:red; left:0px;}
	25%  {background:yellow; left:200px;}
	50%  {background:blue; left:0px; }
	75%  {background:green; left:-200px}
	100% {background:red; left:0px; }
}